<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFApp_NFE.Properties.Settings.NFE_dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\НУВГП\4 КУРС\2 сем\ДИПЛОМКА\NFE app project\WFApp_NFE\bin\Debug\NFE_db.accdb"
            providerName="System.Data.OleDb" />
        <add name="WFApp_NFE.Properties.Settings.NFE_dbConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\NFE_db.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>